<header>
  <nav>
    <a class="title" routerLink="/">Angular Dashboard</a>
    <div class="spacer"></div>
    <a routerLink="/1k" routerLinkActive="link-active">Dashboard 1k</a>
    <a routerLink="/10k" routerLinkActive="link-active">Dashboard 10k</a>
    <a routerLink="/50k" routerLinkActive="link-active">Dashboard 50k</a>
    <a routerLink="/optimized/1k" routerLinkActive="link-active">Dashboard 1k (optimiert)</a>
    <a routerLink="/optimized/10k" routerLinkActive="link-active">Dashboard 10k (optimiert)</a>
    <a routerLink="/optimized/50k" routerLinkActive="link-active">Dashboard 50k (optimiert)</a>
  </nav>
</header>
