<header>
  <nav>
    <a class="title" routerLink="/">Angular Dashboard</a>
    <div class="spacer"></div>
    <a id="link-1" routerLink="/1k" routerLinkActive="link-active">Dashboard 1k</a>
    <a id="link-2" routerLink="/10k" routerLinkActive="link-active">Dashboard 10k</a>
    <a id="link-3" routerLink="/50k" routerLinkActive="link-active">Dashboard 50k</a>
    <a id="link-4" routerLink="/optimized/1k" routerLinkActive="link-active">Dashboard 1k (optimiert)</a>
    <a id="link-5" routerLink="/optimized/10k" routerLinkActive="link-active">Dashboard 10k (optimiert)</a>
    <a id="link-6" routerLink="/optimized/50k" routerLinkActive="link-active">Dashboard 50k (optimiert)</a>
  </nav>
</header>
