<header>
  <nav>
    <a class="title" routerLink="/">Angular Dashboard</a>
    <div class="spacer"></div>
    <a routerLink="/1k" routerLinkActive="link-active">Dashboard 1k</a>
    <a routerLink="/10k" routerLinkActive="link-active">Dashboard 10k</a>
    <a routerLink="/100k" routerLinkActive="link-active">Dashboard 100k</a>
    <a routerLink="/optimized/1k" routerLinkActive="link-active">Dashboard 1k (optimiert)</a>
    <a routerLink="/optimized/10k" routerLinkActive="link-active">Dashboard 10k (optimiert)</a>
    <a routerLink="/optimized/100k" routerLinkActive="link-active">Dashboard 100k (optimiert)</a>
  </nav>
</header>
