@switch (person.gender) {
  @case("Male") {
    <img ngSrc="profileIconMale.png?name={{person.id}}" alt="{{ person.first_name }} {{person.last_name}} Avatar" width="256" height="256">
  }
  @case("Female") {
    <img ngSrc="profileIconFemale.png?name={{person.id}}" alt="{{ person.first_name }} {{person.last_name}} Avatar" width="256" height="256">
  }
  @default {
    <img ngSrc="profileIconDefault.png?name={{person.id}}" alt="{{ person.first_name }} {{person.last_name}} Avatar" width="256" height="256">
  }
}
<div class="person-info">
  <p><strong>{{person.id}}: {{ person.first_name }} {{person.last_name}}</strong></p>
  <p>{{ person.email }}</p>
  <p>{{ person.gender }}</p>
  <p class="balance">{{ person.balance }}</p>
</div>
