html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  scrollbar-gutter: stable;
}

input {
  margin-bottom: 1em;
  border: 3px solid cadetblue;
  border-radius: 0.25em;
  padding: 5px;
  height: 2em;
  outline: none;
  width: calc(100% - 16px);
}
